body {
    background-color: #000000;
    min-height: 100vh;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
}

.title {
    text-align: center;
    color: chartreuse;
    font-weight: 700;
}

.main-card {
    background-color: #000000;
    color: chartreuse;
    border: 5px dashed chartreuse;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.form-control {
    background-color: #000000;
    color: chartreuse;
    border: 1px solid chartreuse;
}

.form-control::placeholder {
    color: rgb(128, 255, 0);
    opacity: 1;
}

.form-select {
    background-color: #000000;
    color: chartreuse;
    border: 1px solid chartreuse;
}

.form-control:focus,
.form-select:focus {
    background-color: #000000;
    color: chartreuse;
    border-color: chartreuse;
    box-shadow: 0 0 5px chartreuse;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group .predict-btn,
.button-group .clear-btn {
    flex: 1;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

.predict-btn {
    background-color: chartreuse;
    color: #000000;
}

.clear-btn {
    background-color: chartreuse;
    border: 2px solid chartreuse;
    color: #000000;
}

.button-group .clear-btn:hover {
    background-color: black;
    color: chartreuse;
    border: 2px solid chartreuse;
    transition: 1s;
}

.button-group .predict-btn:hover {
    background-color: black;
    color: chartreuse;
    border: 2px solid chartreuse;
    transition: 1s;
}

.loading {
    display: none;
    color: chartreuse;
    text-align: center;
}

.custom-spinner {
    color: chartreuse;
}

.result-box {
    display: none;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid chartreuse;
    color: chartreuse;
    background: #000000;
}

.progress {
    height: 25px;
}